div{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div h1{
  text-align: center;
}

div form{
  display: flex;
  flex-direction: column;  
}

form input{
  margin-bottom: 15px;
}
form button {
  margin-bottom: 15px;
}
